{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    [
      "transform-react-remove-prop-types",
      {
        "mode": "wrap"
      }
    ]
  ],
  "env": {
    "start": {
      "presets": [
      ]
    }
  }
}
